{% extends 'base.html' %}
{% block content %}
<style>
h1 {
color: black;
margin-top: 0.67em;
display: block;
font-size: 3em;
}

</style>

<h1>{% block title %} Check new referees {% endblock %}</h1>
<p>Please check if the new referees are correct. If it is not, press cancel. </p>
<form method="post">

    <!--  Date & Time-->
    <div class="flex">
        <label for="date">Date</label>
        <input type="text" name="date" id="date"
               value="{{date}}" disabled/>
        <label for="time">Start time</label>
        <input type="time" name="time" id="time"
               value="{{starttime}}" disabled/>
    </div>

    <div class="flex">
        <label for="team_a">Team A</label>
        <input type="text" name="team_a" id="team_a"
               value="{{team_a}}" disabled/>
    </div>
    <div class="flex">
        <label for="team_b">Team B</label>
        <input type="text" name="team_b" id="team_b"
               value="{{team_b}}" disabled/>
    </div>


    <div class="form-group">
        <label for="newref1">New primary referee</label>
        <input type="text" name=newref1 id="newref1"
        value="{{newref1}}" disabled/> 
    </div>

    <div class="form-group">
        <label for="newref2">New secondary referee</label>
        <input type="text" name=newref1 id="newref1"
        value="{{newref2}}" disabled/> 
    </div>

    <!--  Submit button-->
    <div class="flex">
        <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
        <button type="submit" name="submit" value="cancel" class="btn btn-primary">Cancel</button>
    </div>

</form>
{% endblock %}