{% extends 'base.html' %}
{% block content %}
<style>
h1 {
color: black;
margin-top: 0.67em;
display: block;
font-size: 3em;
}





</style>

<h1>{% block title %} Request a friendly match {% endblock %}</h1>
<p> If you want to schedule a friendly match with another team, please fill in the form below. The scheduler software
    will check whether your slot is available. If this is the case, your friendly match will appear in the calendar and
    the status will be changes to 'Accepted' in the overview. Note: You can only request friendlies after
    23-06-2021. </p>
<form method="post">

    <!--  Match date and time  -->
    <div class="form">
        <label for="date">Match date</label>
        <input type="date" name="date" id="date"
               min="2021-06-21" max="2021-06-27"
               value="{{ request.form['date'] }}"/>
    </div>

    <div class="form">
        <label for="time">Match time (UTC)</label>
        <input type="time" name="time" id="time" step="3600"
               value="{{ request.form['time'] }}"/>
    </div>

    <!--  Team A-->
    <div class="form">
        <label for="team_a">Team A</label>
        <select id="team_a" name="team_a">
            <option value="ER-Force">ER-Force</option>
            <option value="KgpKubs">KgpKubs</option>
            <option value="MRL">MRL</option>
            <option value="KIKS">KIKS</option>
            <option value="Omid">Omid</option>
            <option value="RoboCIn">RoboCIn</option>
            <option value="RoboDragons">RoboDragons</option>
            <option value="RoboFEI">RoboFEI</option>
            <option value="RoboIME">RoboIME</option>
            <option value="RoboJackets">RoboJackets</option>
            <option value="RoboTeam Twente">RoboTeam Twente</option>
            <option value="SRC">SRC</option>
            <option value="TIGERs Mannheim">TIGERs Mannheim</option>
            <option value="Tritons RCSC">Tritons RCSC</option>
            <option value="UBC Thunderbots">UBC Thunderbots</option>
            <option value="URoboRus">URoboRus</option>
        </select>
    </div>

    <!--  Team B-->
    <div class="form">
        <label for="team_b">Team B</label>
        <select id="team_b" name="team_b">
            <option value="ER-Force">ER-Force</option>
            <option value="KgpKubs">KgpKubs</option>
            <option value="MRL">MRL</option>
            <option value="KIKS">KIKS</option>
            <option value="Omid">Omid</option>
            <option value="RoboCIn">RoboCIn</option>
            <option value="RoboDragons">RoboDragons</option>
            <option value="RoboFEI">RoboFEI</option>
            <option value="RoboIME">RoboIME</option>
            <option value="RoboJackets">RoboJackets</option>
            <option value="RoboTeam Twente">RoboTeam Twente</option>
            <option value="SRC">SRC</option>
            <option value="TIGERs Mannheim">TIGERs Mannheim</option>
            <option value="Tritons RCSC">Tritons RCSC</option>
            <option value="UBC Thunderbots">UBC Thunderbots</option>
            <option value="URoboRus">URoboRus</option>
        </select>
    </div>

    <!--  Submit button-->
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}